

@font-face {
  font-family: "Raleway";
  src: url("/fonsts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonsts/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

@import "tailwindcss";
@plugin "tailwind-scrollbar";

@theme {
  --font-rale: "Raleway", Arial, Helvetica, sans-serif;
}



section {
  scroll-margin-top: 72px; /* your navbar height */
}